.social-btn img:hover{
    height:3vmin;
    width:3vmin;
}
#gmail{
    text-decoration: underline;
    font-weight: bold;
    /* font-size:3vmin; */
    color: white;
}
#gmail:hover{
    font-size:2vmin;
}