.NavBar-desc{
    display: flex;
    width:45%;
    justify-content: space-between;
    color:aliceblue;
    gap: 1.1em;
    align-items: center; 
}

.heading{
    margin-left: 2vmin;
    width: 40vmin;
    font-size: 1.7em;

}

.menuButton{
    width: 2.5em;
    display: none;
}

.NavBar-description{
    display: none;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:10vmin;
    border-radius: 0px 0px 15px 15px;
    font-size:2.5vmin;
    /* background-color:  rgba(47, 50, 60, 0.773); */
    width: 90vw;
    color:aliceblue;
    position:fixed;
    left: 4%;
    overflow: hidden;
    font-weight: bold;
    z-index:1000;
}
.devfolio{
    width: 15vmin;
    height: 8vmin;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size:2.3vmin;
    background-color: rgb(57, 112, 250);
    border-radius: 6vmin;
    border:0.1em solid rgb(7, 10, 48);
}
@media (max-width: 850px) {
    .nav {
        font-size:2.2vmin;
    }
    .NavBar-desc{
        width:75%;
        margin-left:4%;
    }
    .devfolio{
        height:8vmin;
        font-size:2.2vmin;
        width: 15vmin;
    }
    .heading{
        margin-left:1vmin;
        font-size: 2.3vmin;
    }
  }
  @media (max-width: 500px) {
    .nav {
        font-size:2.3vmin;
    }
    .NavBar-desc{
        width:75%;
        margin-left:2%;
        display: none;
    }
    .menuButton{
        display: block;
    }
    .NavBar-description{
        display: block;
        width: 60vmin;
        position: fixed;
        top: 0px;
        right: 0px;
        border: 1px solid white;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 2%;
        color: aliceblue;
        height: 100vh;
        background-color: blueviolet;
        z-index: 9999;
        gap: 2em;
        font-size: 3em;
        /* transition: ; */
    }
    .devfolio-btn{
        width: 35vmin;
        height: 9vmin;
        margin: auto 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 3vmin;
        background-color: rgb(57, 112, 250);
        border-radius: 6vmin;
        border: 0.1em solid rgb(7, 10, 48);
    }

}
@media (max-width: 1100px) {
    .nav {
        font-size:2.2vmin;
    }
    .NavBar-desc{
        width:75%;
        margin-left:4%;
    }
    .devfolio{
        height:8vmin;
        font-size:2.2vmin;
        width: 15vmin;
    }
    .heading{
        margin-left:1vmin;
        font-size: 2.3vmin;
    }
  }

