.NavBar-desc{
    display: flex;
    width:45%;
    justify-content: space-between;
    color:aliceblue;
    gap: 1.1em;
    align-items: center; 
}

.heading{
    margin-left: 2vmin;
    min-width: 40vw;
    font-size: 2em;

}

.menuButton{
    width: 2.5em;
    display: none;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:10vmin;
    font-size:2.5vmin;
    width: 100vw;
    background-color: #00000094;
    color:aliceblue;
    position:fixed;
    padding: 0 7.5%;
    overflow: hidden;
    font-weight: bold;
    z-index:1000;
}
.devfolio{
    width: 15vmin;
    height: 8vmin;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size:2.3vmin;
    background-color: rgb(57, 112, 250);
    border-radius: 6vmin;
    border:0.1em solid rgb(7, 10, 48);
}
@media (max-width: 850px) {
    .NavBar-desc {
        margin-left: 2%;
        display: none;
    }
    .devfolio{
        height:8vmin;
        font-size:2.2vmin;
        width: 15vmin;
    }
    .heading{
        margin-left:1vmin;
        font-size: 1em;
    }
    .menuButton {
        display: block;
    }

    .NavBar-description br{
        line-height:30px;
    }
    .NavBar-description {
        position: fixed;
        height: 100vh;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 200;
        width: 60vmin;
        top: 0px;
        right: 0px;
        box-shadow: -3px 0px 9px rgb(185, 185, 185);
        border-radius: 14px 0 0 14px;
        padding-top: 2%;
        padding-left: 1%;
        color: aliceblue;
        background-image: linear-gradient(to right, #434343 0%, rgb(29, 29, 29) 100%);
        z-index: 9999;
        font-size: 1.9em;
        animation: grow 0.95s ease-in-out;
    }

    .navParts {
        margin: 20px;
    }

    @keyframes grow {
        from {
            transform: translate(100%, 00%);
        }

        to {
            transform: translate(0%, 0%);
        }
    }

    .crossImg {
        width: 29px;
        height: 29px;
        top: 15px;
        right: 20px;
        position: absolute;
    }

    .devfolio-btn {
        width: 25vmin;
        height: 9vmin;
        margin: 18px 14px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 3vmin;
        /* background-color: rgb(57, 112, 250); */
        background-image: linear-gradient(to right, #161718, #565d62, #000000);
        box-shadow: 2px 6px 8px 0 rgba(23, 23, 24, 0.75);
        border-radius: 6vmin;
    }
  }

@media (max-width: 1100px) {
    .nav {
        font-size:2.2vmin;
    }
    .NavBar-desc{
        width:75%;
        margin-left:4%;
    }
    .devfolio{
        height:8vmin;
        font-size:2.2vmin;
        width: 15vmin;
    }
    .heading{
        margin-left:1vmin;
        font-size: 2.7em;
    }
  }