.frontPageBtn{
    width: 100%;
    display: flex;
    margin: 40px;
    justify-content: space-evenly;
}

.Btn{
    height: 50px;
    color: white;
    border: 1px solid black;
    width: 250px;
    background-image: linear-gradient(#42A1EC, #0070C9);
    border: 1px solid #0077CC;
    font-size: 20px;
    border-radius: 8px;
    font-weight: 600;
    animation: grow 0.5s ease-in-out;
}
@keyframes grow {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.Btn:hover{
    transform: scale(1.04);
    transition: transform 0.5s;
    background-image: linear-gradient(#51A9EE, #147BCD);
    border-color: #1482D0;
    text-decoration: none;
}
.Btn:focus{
            box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
            outline: none;
}

@media (max-width: 750px) {
    .frontPageBtn{
        flex-direction: column;
        gap: 10px;
        align-items: center;
        width: 100%;
        margin: 30px auto;
    }
    .Btn{
        width: 80%;
    }
    
}