#typetext{
    display: flex;
    justify-content: center;
}
.timeline{
    position: relative;
    max-width: 1200px;
    margin:8px auto;
}
.container{
    padding:12px 50px;
    position: relative;
    border-radius: 4px;
    width: 30%;
    margin-bottom: 5px;
    animation: movedown 0.5s linear forwards;
    opacity: 0;
}
@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }   
}
.container:nth-child(1)
{
    animation-delay: 0s;
}
.container:nth-child(2)
{
    animation-delay: 0.5s;
}
.container:nth-child(3)
{
    animation-delay: 1s;
}
.container:nth-child(4)
{
    animation-delay: 1.5s;
}
.container:nth-child(5)
{
    animation-delay: 2.2s;
}
.container img{
    height:50%;
    border-radius: 50%;
    z-index:10;
    position: absolute;
    top:20px;
    right:-34px;
}
.text-box{
color:aliceblue;
text-align: center;
/* background-color: rgb(113, 2, 29); */
background: rgba( 0, 71, 255, 0.15 );
/* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 13px );
-webkit-backdrop-filter: blur( 13px ); */
border-radius: 10px;
padding:10px 15px;
border:1px solid rgb(152, 166, 195);
}

.heading1{
    font-weight:600;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(234, 234, 234);
}

.left{
    left:19.5%;
} 

.right{
    left:50.2%;
}
.right img{
    left:-30px
}
small{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.timeline::after{
    content: '';
    z-index: -1;
    position: absolute;
    top:0;
    left: 50%;
    background-color: white;
    width:5px;
    height: 100%;
    margin-left: -3px;
    animation: moveline 2.5s linear forwards;
}
@keyframes moveline {
    0%{
        height:0%;
    }
    100%{
        height:100%;
    }
    
}
.left-arrow{
    height:0;
    width: 0;
    top:28px;
    position: absolute;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left:15px solid rgba(228, 228, 239, 0.867);
    right:36px;
}
.right-arrow{
    height:0;
    width: 0;
    top:28px;
    position: absolute;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right:15px solid rgba(228, 228, 239, 0.867);
    left:36px;
}
.heading2{
    color: white;
    text-align: center;
    font-size:14vmin ;
    margin-bottom: 8vmin;
}
@media screen and (max-width:1200px){
    .container{
        width:50%;
        padding:8px 5px;
        font-size:3vmin;
    }
    .container img{
        height:70px;
        border-radius: 50%;
        z-index:10;
        position: absolute;
        top:20px;
        left:-100px;
    }
    .timeline{
        margin:50px auto;
    }
    .timeline::after{
        left:31px;
    }
    .left{
        left:10%;
    }  
    .right{
        left:10%;
    }
    .left-arrow{
        height:0;
        width: 0;
        top:30%;
        position: absolute;
        z-index: 1;
        border-top: 10px solid transparent;
        border-bottom: 15px solid transparent;
        border-right:15px solid rgba(228, 228, 239, 0.867);
        left:-10px;
        border-left: 0;
    }
    .right-arrow{
        height:0;
        width: 0;
        top:30%;
        position: absolute;
        z-index: 1;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right:15px solid rgba(228, 228, 239, 0.867);
        left:-10px;
    }
}
@media screen and (max-width:800px){
    .timeline{
        margin:50px auto;
    }
    .timeline::after{
        left:31px;
    }
    .container{
        width:53%;
        padding:8px 5px;
    }
    .left{
        left:20%;
    }  
    .right{
        left:20%;
    }
    .text-box{
        font-size:3vmin;
    }
    .container img{
        height:40px;
        border-radius: 50%;
        z-index:10;
        position: absolute;
        top:20px;
        left:-60px;
    }
    .left-arrow{
        height:0;
        width: 0;
        top:30%;
        position: absolute;
        z-index: 1;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right:15px solid rgba(228, 228, 239, 0.867);
        left:-10px;
        border-left: 0;
    }
    .right-arrow{
        height:0;
        width: 0;
        top:30%;
        position: absolute;
        z-index: 1;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right:15px solid rgba(228, 228, 239, 0.867);
        left:-10px;
    }
    .heading2{
        color: white;
        text-align: center;
        font-size:10vmin ;
        margin-bottom: 4vmin;
    }
}
